.heading-container {
	text-align: center;
}

.todo-heading {
	font-size: 36px;
	color: darkblue;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 10px;
	font-family: 'Helvetica Neue', sans-serif;
}
